# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Exclude some lib folders
libraries/ESP32-audioI2S-master/examples/*
libraries/ESP32-audioI2S-master/.github
libraries/ESP32-audioI2S-master/additional_info
libraries/lvgl/examples/*
libraries/lvgl/docs/*
libraries/lvgl/demos/*
libraries/lvgl/tests/*
libraries/lvgl/scripts/*